html {
  background: url("img/hack.jpg") no-repeat center center fixed;
  background-size: cover; /* Ensure the image covers the entire background */
}

body {
  background: white;
  width: 600px;
  margin: -20px auto;
  padding: 20px 50px;
  border-radius: 15px;
  text-align: center;
  transition: background 0.5s ease; /* Smooth transition for hover effect */
}

body:hover {
  background: rgba(75, 151, 212, 0.2); /* Transparent when hovered */
}

h1,
h3,
h4 {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease;
}

h1:hover,
h3:hover,
h4:hover {
  color: white;
  transform: translateY(-10px);
}

img {
  border-radius: 10px;
  width: 100px;
  transition: all 0.5s ease;
}

img:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

table {
  margin: 0 auto;
}

td {
  border: 2px solid black;
  padding: 10px 15px;
}
